<header id="home" class="home-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ page.home_banner }});">
  <div class="home-header-content vertical">
    <div class="home-header-inner 5">
      <div class="home-header-header 2">
        <h1 class="home-header-title">Good Hope</h1>
        <h2 class="home-header-subtitle">Baptist Church</h2>
        <p class="home-header-tag">Hand in hand, growing in Christ.</p>
      </div>
      <a href="#{{ page.section1_header }}" class="button button-alt 3">Learn More</a>
    </div>
  </div>
</header>
