---
layout: default
---
<header class="page-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ page.page_header }});">
  <h1 class="page-title vertical 4">{{ page.title }}</h1>
</header>
<div class="container">
  <article class="page-content">
    {{ content }}
  </article>
</div>
{% for item in page.sections %}
  <section id="{{ item.section_name }}">
    <div class="content-block">
      <h2 class="content-block-title 1">{{ item.section_name }}</h2>
      <hr class="content-block-hr 1">
      <div class="container 1">
        {% if item.style == "one column" %}
          <p>{{ item.text }}</p>
          {% if item.button %}
            <div class="text-center">
              <a class="button" href="{{ item.button }}">Learn More</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      {% if item.style == "two columns" %}
      <div>
        {% for column in item.columns %}
          <div class="half-column column-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ column.column_image }}">
          </div>
          <div class="half-column">
            <div class="column-container text-center">
              <h2 class="column-header">{{ column.column_header }}</h2>
              <p class="column-title">{{ column.column_title }}</p>
              <p class="column-text">{{ column.column_text }}</p>
              <a class="button" href="{{ item.button }}">Learn More</a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </section>
{% endfor %}
