.page-header{
  @include banner;
  min-height: 70vh;
  max-height: 70vh;
  height: 70vh;
  padding-top: 80px;
}
@include laptop {
  .page-header{
    background-attachment: fixed;
  }
}

.page-title{
  color: $color-white;
  font-size: 4rem;
}
h5.sub-title{
  color: $grey-color;
}
