.projects{
  width: 100%;
  float: left;
}
.project-item{
  float: left;
  width: 84%;
  margin: 2% 8%;
  display:block;
  position:relative;
}
.project-item .project-item-overlay{
  background: #000;
  color: $color-white;
  height: 97.5%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: background-color .5s;
}
.project-item:hover .project-item-overlay{
  background-color: rgba(0,0,0,0.6);
  transition: background-color .5s;
}

.project-item-overlay-wrapper{
  display: table;
  height: 100%;
  width: 100%;
}
.project-item-overlay-container{
  border: solid .2em $color-white;
  margin: 0 auto;
  max-width: 70%;
  padding: 2em 2em 3em;
  text-align: center;
}
h3.project-item-title{
  color: $color-white;
  font-size: 2rem;

}
.project-item-overlay-container p{
  color: $color-white;
  font-size: 1rem;
}
@include laptop {
  .project-item{
    float: left;
    width: 30%;
    margin: 2% 1.6%;
    display: block;
    position: relative;
  }
}
